<div id="postholder">
  <div id="date"></div>
  <div id="breakfast"></div>
  <div id="lunch"></div>
  <div id="dinner"></div><br><br>

  <div id="comments"></div>
    <div id="newComment" style="display: none;">
      <%=form_for @comment do |f|%>
      <%=f.text_field :body%>
      <%=f.hidden_field :user_id, value: session[:user_id]%>
      <%=f.hidden_field :post_id, value: ""%>
      <%=f.submit "Post Comment"%>
      <%end%>
  </div>
</div>



<%if session[:user_id] == @user.id%>
<div id="formholder" style="display: none;">
  <%= form_for (@post) do |f|%>
  <%=f.label :breakfast%>
  <%=f.text_area :breakfast%><br><br>
  <%=f.label :lunch%>
  <%=f.text_area :lunch%><br><br>
  <%=f.label :dinner%>
  <%=f.text_area :dinner%><br><br>
  <%=f.hidden_field :user_id, value: session[:user_id]%>
  <%=f.hidden_field :date, value: Time.new.strftime("%m/%d/%Y")%>
  <%=f.submit "Save Entry"%><br><br><br>
  <%end%>
</div>
<button id="new">New Entry</button><br>
  <%end%>
  <div id="posts">
  </div>



<script type="text/javascript" charset="utf-8">
$(function () {
  $('#new_post').submit(function(event) {
    event.preventDefault();
    $("input").last().removeAttr("data-disable-with")
    var values = $(this).serialize();
    var posting = $.post('/posts', values);
    posting.done(function(data) {
      document.getElementById("formholder").style.display = "none"
      var post = data;
      $("#date").text(post["date"]);
      $("#breakfast").text(`Breakfast: ${post["breakfast"]}`);
      $("#lunch").text(`Lunch: ${post["lunch"]}`);
      $("#dinner").text(`Dinner: ${post["dinner"]}`);
      
    });
  });
});
</script>
